<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            width: 50%;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
        h2 {
            text-align: center;
        }
        .details {
            margin-top: 10px;
        }
    </style>
</head>
<body>

    <div class="container">
        <h2>Student Details</h2>
        <p><strong>ID:</strong> {{ student.id }}</p>
        <p><strong>Name:</strong> {{ student.name }}</p>
        <p><strong>Email:</strong> {{ student.email }}</p>
        <p><strong>Last Login:</strong> {{ student.last_login }}</p>
        <p><strong>Joined Date:</strong> {{ student.joined_date }}</p>
        <p><strong>Role:</strong> {{ student.role.name }}</p>
        <a href="{% url 'user_list' %}"></a>
    </div>
    

</body>
</html>
